# =========================
# SERVER
# =========================
PORT=4000
NODE_ENV=development

# =========================
# DATABASE
# =========================
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/database

# =========================
# AUTH
# =========================
JWT_SECRET=replace_with_long_random_secret